

<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<div class='section_pale_orange'>
 <div class = 'section_general'> 
    <center>
      <h2>Name your Campaign</h2>
        <p><%= f.text_field :campaign_name %></p>

    </center>
  </div>
</div>

  <div class='section_pink outer-v'>
    <div class='section_general inner-v'>

      <center>
        <h2>What is your target audience</h2>
      </center>
      <div class = 'section_pink_padding'>
        <p>Age <%= f.text_field :age %></p>
        <p>Trying to Concieve: <%= f.number_field :ttc %></p>
        <p>Weeks Pregnant: <%= f.number_field :weeks_pregnant %></p>
        <p>Days since signup: <%= f.number_field :days_since_signup %></p>
        <p>Special fertility conditions <%= f.select :fertility_condition, [["Not A Woman", "Not A Woman"]] %> </p>
        <p>Cycle Stage:<%= f.select :cycle_stage, [[],["Something", "Something"]] %> </p>
        <p>Household Income: <%= f.number_field :house_hold_income %> </p>
        <p>30-Day App Activity: <%= f.select :monthly_acivity, [['Low', "Low"], ['Medium'], ['High', 'High']] %> </p>
        </div>
      </div>
    </div>
  </div>

<div class = 'section_teal'>
  <div class = 'section_general'>
  <center>
    <h2>Budget</h2>
  </center>
    <div class = 'section_teal_padding'>
      <p>Monthly Advertizing Budget <%= f.number_field :budget %></p>
      <p>Begining of Campaign <%= f.text_field :begin_date %> </p> <p>End of Campaign <%= f.text_field :end_date %></p>
    </div>
  </div>
</div>

<div class = 'section_light_blue'>
<div class = 'section_general'>
  <center>
    <h2> Prefered Ad Types</h2>

      <p>Adtype: <%= f.text_field :adtype %>
      <p>Social Ad <%= f.check_box(:social_ad) %> Ovia Exclusives <%= check_box_tag(:ovuline_exclusive) %></p>
      <p>Native Ad <%= f.check_box(:native_ad) %> Native Article <%= check_box_tag(:native_article)%></p>

     <p>What is you goal in number of impressions / click throughs </p>
      <%= f.number_field :views %> </p>

        <%= f.submit 'Submit Info', :class => 'button' %>

  </center>
  </div>
</div>
<% end %>
