

<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='section_pale_orange'>
  <center>
    <h2>Campaign Name</h2>
      <p><%= f.text_field :campaign_name %></p>
  </center>
</div>
<div class = 'section_pink'>
  <h2>What is your target audience</h2>
    <p>Age <%= f.text_field :age %></p>
    <p>Trying to Concieve: <%= f.number_field :ttc %></p>
    <p>Weeks Pregnant: <%= f.number_field :weeks_pregnant %></p>
    <p>Days since signup: <%= f.number_field :days_since_signup %></p>
    <p>Special fertility conditions <%= f.select :fertility_condition, [["Not A Woman", "Not A Woman"]] %> </p>
    <p>Cycle Stage:<%= f.select :cycle_stage, [[],["Something", "Something"]] %> </p>
    <p>Household Income: <%= f.number_field :house_hold_income %> </p>
    <p>30-Day Activity: <%= f.select :monthly_acivity, [['Low', "Low"], ['Medium'], ['High', 'High']] %> </p>
</div>

<div class = 'section_lime_green'>
  <center>
    <h2>Budget</h2>
      <p>Monthly Advertizing Budget <%= f.number_field :budget %></p>
      <p>Begining of Campaign: <%= f.text_field :begin_date %> End of Campaign <%= f.text_field :end_date %></p>
  </center>
</div>
<div class = 'section_light_blue'>
  <h2> Prefered Ad Type</h2>
    <p>Type of Ad you want</p>
<!--   <%= radio_button_tag(:ovuline_exclusive, "Ovuline Exclusives") %> -->
    <%= f.select :adtype, [['Native Ad', "Native Ad"], ['Native Article', "Native Article"], ['Social Ad', 'Social Ad'], ['Ovia Exclusives', 'Ovia Exclusives']] %> </p>
 
    <p>Number of Views/Clicks
    <%= f.number_field :views %> </p>
    <p>Demographics to Target
    <%= f.select :demographics, [['trying to concieve','trying to concieve'],['1st Trimester','1st Trimester'],['2nd Trimester','2nd Trimester']] %> </p>
<!--  <td> <%= f.select :subtotal, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %> </td> -->
    <div class="actions">
      <%= f.submit %>
    </div>
</div>
<% end %>