

<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='section_pale_orange'>
 <div class = 'section_general'>
   <div class = 'radio'> 
    <center>

      <h2>Choose an app:</h2>
        <span>
          <%= f.radio_button(:app_type, "fertility") %>
          <label for=app_type_fertility>
            <img src="/images/fertility.png">
          </label>
        </span>
        <span class = 'middle-icon'>
          <%= f.radio_button(:app_type, "pregnancy") %>
          <label for=app_type_pregnancy>
            <img src="/images/pregnancy.png">
          </label>
        </span>
        <span>
          <%= f.radio_button(:app_type, "both") %>
          <label for=app_type_both>
            <img src="/images/pfBoth.png">
          </label>
        </span>

      <h2>Select your platform</h2>

        <span>
          <%= f.radio_button(:mobile_platform, "android") %>
          <label for=mobile_platform_android>
            <img src="/images/android.png">
          </label>
        </span>
        <span class = 'middle-icon'>
          <%= f.radio_button(:mobile_platform, "ios") %>
          <label for=mobile_platform_ios>
            <img src="/images/apple.png">
          </label>
        </span>
        <span>
          <%= f.radio_button(:mobile_platform, "both") %>
          <label for=mobile_platform_both>
            <img src="/images/iosboth.png">
          </label>
        </span>
        </center>

        <div class='extra_padding_quotes'>
          <div class ='section general'>
            <h2>What kind of advertising are you interested in?</h2>
            <br></br>
             <div class='label_font'>
              <%= f.radio_button(:ad_type, "sales ") %>
               <label for=ad_type_sales>
                  Sales (Ads)
               </label>
               <%= f.radio_button(:ad_type, "brand_awareness") %>
               <label for=ad_type_brand_awareness>
                  Brand Awareness (Articles)
               </label>
               <%= f.radio_button(:ad_type, "both") %>
               <label for=ad_type_both>
                  Both
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class='section_pale_orange'>
        <div class = 'section general'>
          <h2>Product Selector:</h2>
        
          <div class = 'move_it_forward_section'>
            <div class='make_text_white'>
              <center>
                <table>
                  <tr>
                      <td>Sales (Native Ad)</td>
                      <td> <%= f.check_box(:native_ad) %></td>
                      <td>Brand Awareness (Article Ad)</td>
                      <td><%= f.check_box(:social_ad) %></td>
                  </tr>
                  <tr>
                      <td>Ovia Exclusives</td>
                      <td> <%= f.check_box(:ovuline_exclusive) %></td>
                      <td>Email Campaign</td> 
                      <td><%= f.check_box(:email_campaign) %></td>
                  </tr>
                </table>
              </center>
            </div>
          </div>
        </div>
      </div>


  <!--   </center>
   </div> -->
  <!-- </div> -->
</div>


<div class = 'section_pale_orange'>
<!-- <div class = 'section_teal'> -->
  <!-- <div class = 'section_general'> -->
  <!-- <div class = 'vcenter'> -->
  <center>
    <h2>Budget</h2>
  </center>
    <div class = 'section_teal_padding'>

      <div class = 'move_it_forward_section'>
        <div class='make_text_white'>
          <table>
            <tr>
              <td>Monthly Advertizing Budget</td><td><%= f.select :app_type, [['$2,000-$5,000', '$2,000-$5,000'], ['$5,000-$10,000', '$5,000-$10,000'],['$10,000-$15,000', '$10,000-$15,000'], ['$15,000+', '$15,000+']] %></td>
            </tr>
            <tr>
                <td>Begining of Campaign</td><td> <%= f.text_field :begin_date %> </td> 
            </tr>
            <tr>
                <td>End of Campaign</td><td><%= f.text_field :end_date %></td>
            </tr>
          </table>
        </div>
      </div>

      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>

    
    <div class = 'section_pale_orange'>
    <!-- <div class = 'section_pink'> -->
        <div class = 'section_general'>
        <center>
        <h2>Your target audience is...:</h2>
    
        <div class = 'move_it_forward_section'>
            <div class='make_text_white'>
              <table>
                <tr>
                  <td> Trying to Concieve: <%= f.check_box :target_ttc %></td>
                  <td> Pregnant: <%= f.check_box :target_preg %></td>
                </tr>
                <tr>
                  <td> The Significant Other <%= f.check_box :target_sig_other %> </td>
                  <td> In their first trimester <%= f.check_box :target_1st_trim %></td>
                </tr>
                <tr>
                  <td> In their second trimester <%= f.check_box :target_2nd_trim %></td>
                  <td> In their third trimester<%= f.check_box :target_3rd_trim %> </td>
                </tr>
              </table>
            </div>
          </div>

        <h2></h2>
        <%= f.submit 'Submit Info', :class => 'button' %>
        </center>
        </div>
      </div>
<% end %>
