<p id="notice"><%= notice %></p>

<h1>Your Quote</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Ad Type</td>
        <td>Number of Click Throughs</td>
        <td>Target Demographics</td>
      </tr>
    <% @quotes.each do |quote| %>
        <% if quote.companyID == session[:current_company_id] %>
      <tr>
        <td><%= quote.adtype %></td>
        <td><%= quote.views %></td>
        <td><%= quote.demographics %></td>
        <td><%= quote.subtotal %></td>
        <td><%= link_to 'Remove', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
    <% end %>
    <%= render 'form' %>

  </tbody>
</table>

<br>
<% if @quotes.count.zero? %>
  <%= flash[:notice] = 'Your quote is empty, please add an item' %>
<% else %>
  <%= link_to 'Submit Quote', quotes_path %>
<% end %>
