<div class = 'navigation_bar_dashboard', class = 'sticky'> 
    <ul>
        <a href='/employees'><li>ALL QUOTES</li></a>
        <a href='/employee_email_managers'><li>NOTIFICATION MANAGER</li></a>
    </ul>
</div>

<!-- <p id="notice"><%= notice %></p>
 -->
<div class = 'dashboard_table'>
<h1>Company Quotes</h1>
    <center>
        <table>
                <tr>
                        <th>Contact Name</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Phone</th>
                </tr>
                <% @companies.each do |company| %>
                        <tr>
                                <td><%= company.name %></td>
                                <td><%= company.companyname %></td>
                                <td><%= company.email %></td>
                                <td><%= company.phone %></td>
                                <td><%= link_to "Edit", edit_company_path(company) %></td>
                                <td><%= link_to "Show", company %></td>
                                <td><%= link_to "Delete", company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>

                <% end %>

        </table>
    </center>
</div>

