<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
    <div class='make_text_white'>
      <table>
        <tr>
          <td>Name: </td>
          <td><%= f.text_field :name, :required => true %></td>
        </tr>

      <tr>
        <td>Company: </td>
        <td><%= f.text_field :companyname, :required => true %></td>
      </tr>
      <tr>
        <td>Email Address: </td>
        <td><%= f.email_field :email, :required => true %></td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%= f.text_field :phone, :required => true %></td>
      </tr>
      </table>
    </div>
  </center>

  <div class = 'center_the_button'>
  <center><p><%= f.submit 'Advertise With Us!', :class => 'btn_advertise' %></p></center>
  </div>

<% end %>
